<h2>New Article</h2>
<form accept-charset="UTF-8" action="/articles" class="new_article" enctype="multipart/form-data" id="fileupload" method="post">
	<input type="text" name="article[title]" placeholder="Name">
	<br>

  <input class="btn btn-primary create_article" type="submit" value="Continue"/>
</form>
