<div class="container" id="photo_loader">
  <div class="errors"></div>
  <div class="warnings"></div>
  <div class="successes"></div>
  <div class="row">
    <h2>Sign Up</h2>
    <form accept-charset="UTF-8" action="/users.json" class="new_user" method="post">
      <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
      <div class="span3">
        <input type="text" name="user[email]" placeholder="Email">
        <br>
        <input type="text" name="user[username]" placeholder="Username">
        <br>
        <input type="password" name="user[password]" placeholder="Password">
        <br>
        <input type="password" name="user[password_confirmation]" placeholder="Password Confirmation">
        <br>
        <button type="submit" class="btn btn-primary start no-gradient">
          <span>Sign Up!</span>
        </button>
      </div>
    </form>
  </div>
</div>

