<% taggings.forEach(function(tagging, index) { %>
  <a href="#recipes/taggings/<%= tagging.id %>">
    <div class="tagging">
        <span><%- tagging.get("name") %></span>
    </div>
  </a>
<% }); %>
