<div class="container">
  <div class="errors"></div>
  <div class="warnings"></div>
  <div class="successes"></div>
  <h2>Recipes</h2>
  <% if(currentUser.id) { %>
    <a class="btn btn-primary" href="#recipes/new">Create New Recipe</a>
  <% } %>
  <div class="row" id="recipes"> 
  </div>
</div>
