<div class="container-fluid">
  <div class="row-fluid">
    <div class="errors"></div>
    <div class="warnings"></div>
    <div class="successes"></div>
  </div>
  <div class="row-fluid" id="tiles"> 
  </div>
</div>
