<div class="container">
  <div class="row">
    <div class="errors"></div>
    <div class="warnings"></div>
    <div class="successes"></div>
    <% if(currentUser.id) { %>
      <a class="btn btn-primary" href="#recipes/new">Create New Recipe</a>
      <a class="btn btn-primary" href="#articles/new">Create New Article</a>
    <% } %>
  </div>
  <div class="row">
    <form class="find-recipes">
      <div class="recipe-taggings"> 
      </div>
      <input class="btn btn-primary" type="submit" value="Find">
    </form>
  </div>
  <div class="row" id="tiles"> 
  </div>
</div>
