<div class="container">
  <div class="errors"></div>
  <div class="warnings"></div>
  <div class="successes"></div>
  <div class="row">
    <h2>New Recipe</h2>
    <div id="photo_loader">
    <form accept-charset="UTF-8" action="/recipes" class="new_recipe" enctype="multipart/form-data" id="fileupload" method="post">
      <div class="name control-group">
        <input type="text" name="recipe[name]" placeholder="Name">
        <span class="help-inline"></span>
      </div>

      <div class="description control-group">
        <input type="text" name="recipe[description]" placeholder="Description">
        <span class="help-inline"></span>
      </div>

      <h4>Ingredients</h4> <a href="" class="add_ingredient btn btn-primary">Add Ingredient</a>
      <div class="ingredients">
      </div>

      <h4>Instructions</h4> <a href="" class="add_instruction btn btn-primary">Add Instruction</a>
      <div class="instructions">
      </div>

      <input class="btn btn-primary create_recipe" type="submit" value="Create and Add Photos"/>
    </form>
  </div>
</div>
