<% if ( index == 0) { %>
  <li data-target="#recipeCarousel" data-slide-to="<%= index %>" class="active"></li>
<% } else { %>
  <li data-target="#recipeCarousel" data-slide-to="<%= index %>" class=""></li>
<% } %>
