<!DOCTYPE html>
<html>
<head>
  <title>ThermosCook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand logo navbar-brand" href="#recipes"><img src="ThermosCook.png"></img></a>
        <div class="nav pull-right nav-buttons">
          <% if current_user %>
            <div class="sign-in-button">
              <a href="#" data-method="delete" id="destroy_session" rel="nofollow">
                <i class="fa fa-sign-out"></i>
              </a>
            </div>
          <% else %>
            <div class="sign-in-button"><a href="/#users/sign_in"><i class="fa fa-sign-in"></i></a></div>
            <div class="sign-in-button"><a href="/#users/sign_up"><i class="fa fa-plus"></i><i class="fa fa-user"></i></a></div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= yield %>
</body>
</html>
